<app-header>Modalidades {{currentCourse?.name}}</app-header>
<app-container>
  <div class="container">
    <mat-list role="list">
      @for (mode of modalities; track mode.id) {
      <mat-list-item role="listitem" style="height: max-content;">
        <div class="edit">
          <span mat-line>{{mode.name}}</span>
          <button mat-icon-button (click)="update(mode)" color="primary" aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(mode)" color="warn" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="actions">
          @if(mode.common){
            <a mat-button [routerLink]="['/common',mode.id]">Comunes</a>
          }
          @if(mode.specific){
            <a mat-button [routerLink]="['/modalities',mode.id]">Especificas</a>
          }
          @if(mode.elective){
            <a mat-button [routerLink]="['/modalities',mode.id]">Optativas</a>
          }
          @if(mode.electiveOne){
            <a mat-button [routerLink]="['/modalities',mode.id]">Optativas I</a>
          }
        </div>
      </mat-list-item>
      }
      @empty {
      <mat-list-item role="listitem">No hay modalidades registradas</mat-list-item>
      }
    </mat-list>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Modalidad</mat-label>
          <input #input matInput type="text" required formControlName="name" />
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="common">Comunes</mat-checkbox>
          <mat-checkbox formControlName="specific">Especificas</mat-checkbox>
          <mat-checkbox formControlName="elective">Optativas</mat-checkbox>
          <mat-checkbox formControlName="electiveOne">Optativas I</mat-checkbox>
        </div>
        <div>
          <button type="reset" mat-button (click)="resetForm()">Limpiar</button>
          <button type="submit" mat-flat-button>Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</app-container>
