.container{
  margin-top: 20px;
  width: 50%;
  margin: auto ;
}
.form,mat-form-field{
  width: 100%;
}
.row{
display: grid;
grid-template-columns: 1fr 48px 48px auto;
align-items: center;
gap:1rem
}
