<div class="container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    @if(isMobile()){
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    }
    <app-logomini />
    <h1>Nueva matrícula</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" [fixedInViewport]="isMobile()"
      fixedTopGap="56">
      <mat-nav-list (click)="handlerItem($event)">

        @for (item of categories(); track item) {
        <a mat-list-item [attr.data-key]="item">{{item}}</a>
        }

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="cards">
        @for (item of courses(); track item.id) {

        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{item.description}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @for (subject of item.subjects; track subject.id) {
            <p>{{subject.description}}</p>
            }
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['/enrolls/situation']">Nueva Matrícula</a>
          </mat-card-actions>
        </mat-card>

        }
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
