<div class="container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    @if(isMobile()){
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    }
    <app-logo />
    <h1>Asignaturas</h1>
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" [fixedInViewport]="isMobile()"
      fixedTopGap="56">
      <mat-nav-list>
        @for (item of courses(); track item.id) {
        <a mat-list-item (click)="clickItem(item)">{{item.name}}</a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <h2>{{currentCourse()?.name}}</h2>
        <div class="add">
          <button type="button" mat-button (click)="navigate()">
            <mat-icon>add</mat-icon>
            Asignaturas
          </button>
        </div>
      </div>

      Contenido
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
