<div class="floating-panel" cdkDrag  [cdkDragBoundary]="'.panel-boundary'" (cdkDragStarted)="onDragStart($event)"
  (cdkDragEnded)="onDragEnd($event)">

  <!-- Header con área para arrastrar -->
  <div class="panel-header" cdkDragHandle>
    <mat-icon>drag_indicator</mat-icon>
    <span>{{ group()?.courseName }}</span>
    <button mat-icon-button (click)="minimize()">
      <mat-icon>{{ isMinimized ? 'expand_more' : 'remove' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="panel-content" [class.minimized]="isMinimized">
    <p>Arrastra asignaturas al grupo deseado</p>
    <mat-accordion>
    @for (item of group()?.groups; track item.id; let idx=$index) {
      <mat-expansion-panel [expanded]="isSelected(idx)"  cdkDropList
        (cdkDropListDropped)="drop($event, item, idx)"

      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{item.name}} </mat-panel-title>
        </mat-expansion-panel-header>
        @for (subject of item.subjects; track subject) {
          <p>{{subject.name}}</p>
        }
      </mat-expansion-panel>
    }
    </mat-accordion>
  </div>
</div>
