<div class="floating-panel" cdkDrag  [cdkDragBoundary]="'.panel-boundary'" (cdkDragStarted)="onDragStart($event)"
  (cdkDragEnded)="onDragEnd($event)">

  <!-- Header con área para arrastrar -->
  <div class="panel-header" cdkDragHandle>
    <mat-icon>drag_indicator</mat-icon>
    <span>{{ title() }}</span>
    <button mat-icon-button (click)="minimize()">
      <mat-icon>{{ isMinimized ? 'expand_more' : 'remove' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Contenido del panel -->
  <div class="panel-content" [class.minimized]="isMinimized">
    <p>Arrastra asignaturas al grupo deseado</p>
    <mat-accordion>
    @for (item of groups(); track item.id) {
      <mat-expansion-panel cdkDropList
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{item.name}} </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    }
    </mat-accordion>
  </div>
</div>
