:host {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 1rem;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(250, 249, 253);
  padding: 1rem;
  z-index: 1000;
}
h1{
  margin: 0;
}
