.container {
  margin-top: 20px;
  width: 50%;
  margin: auto;
}

.form,mat-form-field {
  width: 100%;
}

.edit{
  display: grid;
  grid-template-columns: 1fr auto 48px 48px;
  align-items: center;
  gap:1rem
}
.actions{
  display: flex;
  gap:1rem;
  padding: 0.25rem 0;
}
.row{
  display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr auto;
  gap:1rem;
}
