<div class="container">
  @if(config().type==='all'){
    <h2>{{config().title}}</h2>
    <mat-list role="list">
      @for (item of items; track item) {
      <mat-list-item role="listitem">{{item}}</mat-list-item>
      }
    </mat-list>
  }
  @if(config().type==="selectlist"){
    <app-selectedlist [text]="config().title" [items]="items" [multiple]="config().multiple" />
  }
  @if(config().type==="orderlist"){
    <app-sortedlist [text]="config().title" [items]="items" [limit]="config().limit" />
  }
</div>
