<app-header>Cursos de {{currentLevel?.name}}</app-header>
<app-container>
  <div class="container">
    <mat-list role="list">
      @for (course of courses; track course.id) {
      <mat-list-item role="listitem" style="height: max-content;">
        <div class="edit">
          <span mat-line>{{course.name}}</span>
          <button mat-icon-button (click)="update(course)" color="primary" aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(course)" color="warn" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="actions">
          <a mat-button [routerLink]="['/modalities',currentLevel?.id,course.id]">Modalidades</a>
          <a mat-button [routerLink]="['/subjects',currentLevel?.id,course.id]">Asignaturas</a>
        </div>
      </mat-list-item>
      }
      @empty {
      <mat-list-item role="listitem">No hay cursos registradas</mat-list-item>
      }
    </mat-list>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Curso</mat-label>
          <input #input matInput type="text" required formControlName="name" />
        </mat-form-field>
        <div>
          <button type="reset" mat-button (click)="reset()">Limpiar</button>
          <button type="submit" mat-flat-button>Añadir</button>
        </div>
      </div>
    </form>
  </div>
</app-container>
