:host{
  display: block;
  overflow: hidden;
  height: 100%;
}
.table-container {
  max-height: 600px;
  overflow: auto;
}

table {
  width: 100%;
  padding: 1rem;
}
.add{
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0 1rem;
}
.align-right {
  text-align: right;
}
.row{
  display: grid;
  grid-template-columns: 25% 1fr;
}

