:host{
  display: block;
  overflow: hidden;
  height: 100%;
}
.table-container {
  max-height: 600px;
  overflow: auto;
}

table {
  width: 100%;
  padding: 1rem;
}
.add{
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  z-index: 1000;
}
.align-right {
  text-align: right;
}
.row{
  display: grid;
  grid-template-columns: 25% 1fr;
}
h1{
  padding-left: 1rem;
}

