.container {
  padding: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.group-container {
  border: 1px solid #666666;
}

.group-content {
  padding: 0;
}


.modality-title {
  padding: 0.75rem;
  border-bottom: 1px solid #666666;
}

.section-title {
  padding: 0.75rem;
  border-bottom: 1px solid #666666;
  font-weight: 600;
}

.modality-item {
  padding: 0.75rem;
  border-bottom: 1px solid #666666;
}

.modality-item:last-child {
  border-bottom: none;
}

.modality-section:not(:last-child) .modality-item:last-child {
  border-bottom: 1px solid #666666;
}

.row-number {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.navigate svg {
  width: 24px;
  height: 24px;
}
