<div class="container">
  <div class="row">
    @for (modality of modalities(); track modality) {
      <div class="group-container">
        <div class="group-header">
          <div class="row-number">
            <div class="left">{{modality.name}}</div>
            <div class="right">{{modality.enrolls.length}}</div>
          </div>
        </div>

        <div class="group-content">
          @if(modality.compulsoryModality.length > 0) {
            <div class="modality-section">
              <div class="section-title">Modalidad Obligatorias</div>
              @for (item of modality.compulsoryModality; track item) {
                <div class="modality-item">
                  <div class="row-number">
                    <div class="left">{{item.name}}</div>
                    <div class="right">{{item.enrolls.length}}</div>
                  </div>
                </div>
              }
            </div>
          }

          @if(modality.modalityElectives.length) {
            <div class="modality-section">
              <div class="section-title">Modalidad a Elegir</div>
              @for (item of modality.modalityElectives; track item) {
                <div class="modality-item">
                  <div class="row-number">
                    <div class="left">{{item.name}}</div>
                    <div class="right">{{item.enrolls.length}}</div>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
