@if (text()) {
<h2>{{text()}}</h2>
}
@if(multiple()){
<mat-selection-list (selectionChange)="onSelectionChange($event)" >
  @for (item of items(); track item) {
  <mat-list-option [value]="item" [selected]="isSelected(item)">{{item}}</mat-list-option>
  }
</mat-selection-list>
}
@else{
  <mat-selection-list (selectionChange)="onSelectionChange($event)" [multiple]="multiple()">
    @for (item of items(); track item) {
    <mat-list-option [value]="item" [selected]="isSelected(item)">{{item}}</mat-list-option>
    }
  </mat-selection-list>
}
