<h3>{{subjectDomain().name}}</h3>
<p>{{subjectDomain().title}}</p>


@if(subjectDomain().multiple){
<mat-selection-list (selectionChange)="onSelectionChange($event)">
  @for (item of subjectDomain().subjects; track item.id) {
  <mat-list-option [value]="item.id" [selected]="isSelected(item)">
    <div class="row">
      <span>{{item.name}}</span>
      <span>{{item.hours}} h</span>
    </div>

  </mat-list-option>
  }
</mat-selection-list>
}
@else{
  <mat-selection-list (selectionChange)="onSelectionChange($event)" [multiple]="subjectDomain().multiple">
    @for (item of subjectDomain().subjects; track item.id) {
    <mat-list-option [value]="item.id" [selected]="isSelected(item)">
      <div class="row">
        <span>{{item.name}}</span>
        <span>{{item.hours}} h</span>
      </div>
    </mat-list-option>
    }
  </mat-selection-list>
}
