
<h2>{{subjectDomain().name}}</h2>
<p>{{subjectDomain().title}}</p>


@if(subjectDomain().multiple){
<mat-selection-list (selectionChange)="onSelectionChange($event)" >
  @for (item of subjectDomain().subjects; track item.id) {
  <mat-list-option [value]="item.id" [selected]="isSelected(item)">{{item.name}}</mat-list-option>
  }
</mat-selection-list>
}
@else{
  <mat-selection-list (selectionChange)="onSelectionChange($event)" [multiple]="subjectDomain().multiple">
    @for (item of subjectDomain().subjects; track item.id) {
    <mat-list-option [value]="item.id" [selected]="isSelected(item)">{{item.name}}</mat-list-option>
    }
  </mat-selection-list>
}
