<div class="add">
  <a mat-button [routerLink]="['/enrolls/add']">
    <mat-icon>add</mat-icon>
    Nueva
  </a>
</div>
<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
  <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" [fixedInViewport]="isMobile()"
    fixedTopGap="56">
    <mat-nav-list (click)="handlerItem($event)">

      @for (item of categories(); track item) {
      <a mat-list-item [attr.data-key]="item">{{item}}</a>
      }

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="cards">
      @for (item of enrolls(); track item.id) {

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{item.studentName}}</mat-card-title>
          <mat-card-subtitle>{{item.courseName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Periodo: {{item.start}}-{{item.end}}</p>
          <p>Estado: {{item.status}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="/enrolls/edit/{{item.id}}">Editar</a>
        </mat-card-actions>
      </mat-card>

      }
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
