<app-header>
  Mátricula
</app-header>
<app-container>
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step label="Datos del alumno">
      <div class="step-content">
        <app-stepalumno #alumn/>
        <button (click)="alumn.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Situación familiar">
      <div class="step-content">
        <app-stepsituation #situation />
        <button mat-button matStepperPrevious>Anterior</button>
        <button (click)="situation.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Datos de la madre">
      <div class="step-content">
        <app-stepmother #mother />
        <button mat-button matStepperPrevious>Anterior</button>
        <button (click)="mother.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Datos del padre">
      <div class="step-content">
        <app-stepfather #father/>
        <button  mat-button matStepperPrevious>Anterior</button>
        <button (click)="father.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Asignaturas" >
      <div class="step-content">
        <app-subjects #subjects />
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="subjects.submit()" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Seguros, transporte, AMPA">
      <div class="step-content">
        <app-stepothers #others />
        <button mat-button matStepperPrevious>Anterior</button>
        <button (click)="others.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Declaración de salud">
      <div class="step-content">
        <app-healstep #healt />
        <button mat-button matStepperPrevious>Anterior</button>
        <button (click)="healt.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-container>
