<app-header>
  Mátricula
</app-header>
<app-container>
  <h1>Matricula</h1>
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step label="Datos del alumno">
      <div class="step-content">
        <app-stepalumno />
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Situación familiar">
      <div class="step-content">
        <app-stepsituation #situation />
        <button mat-button matStepperPrevious>Anterior</button>
        <button (click)="situation.submit()" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Datos de la madre">
      <div class="step-content">
        <app-stepmother />
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Datos del padre">
      <div class="step-content">
        <app-stepfather />
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Asignaturas">
      <div class="step-content">
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Seguros, transporte, AMPA">
      <div class="step-content">
        <app-stepothers />
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step label="Declaración de salud">
      <div class="step-content">
        <app-healstep />
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-container>
