.container{
  padding: 0 1rem;
}
.step-content {
  min-height: 200px;
  padding: 20px;
}
:host ::ng-deep .mat-stepper-horizontal {
  background-color: transparent;
}
:host ::ng-deep .mat-horizontal-stepper-header-container {
  margin-bottom: 20px;
}
