.container{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding: 0.25rem;
}
.logo {
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo svg {
  height: 100%;
}
.menu{
  display: flex;
  gap:1rem;
  justify-content: end;
}

.hidden{
  display: none;
}
.show{
  display: inline-block;
}
.container-desktop{
  grid-template-columns: auto 1fr;
}

