.container {
  display: flex;
  gap: 20px;
}

.source,
.target {
  border: 1px solid #ccc;
  min-height: 200px;
  width: 200px;
  padding: 10px;
}
.source{
  cursor: move;
}


.drag-item {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 4px 0;
  background: #f9f9f9;
  cursor: grab;
}

.drag-preview {
  background: #e0e0e0;
  border: 1px dashed #999;
  padding: 8px;
  opacity: 0.9;
}











