<div cdkDropListGroup class="container">
  <div
    cdkDropList
    class="source"
    [cdkDropListData]="source"
    [cdkDropListSortingDisabled]="true"
  >
    @for (item of source; track $index) {
      <div cdkDrag >
        <div>{{ item }}</div>
        <div *cdkDragPreview class="drag-preview">{{ item }}</div>
      </div>
    }
  </div>

  <div
    cdkDropList
    class="target"
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListAutoScrollDisabled]="true"
  >
    @for (item of target; track $index) {
      <div>{{ item }}</div>
    }
  </div>
</div>
