<div cdkDropListGroup class="container">
  <div
    cdkDropList
    class="source"
    [cdkDropListData]="source"
    [cdkDropListSortingDisabled]="true"
  >
    @for (item of source; track $index) {
      <div cdkDrag >
        <div class="drag-item">{{ item }}</div>
        <div *cdkDragPreview class="drag-preview">Moviendo :{{ item }}</div>
      </div>
    }
  </div>

  <div
    class="target"
    cdkDropList
    (cdkDropListEntered)="onEnter($event)"
    (cdkDropListExited)="onExit($event)"

  >
    @for (item of target; track $index) {
      <div>{{ item }}</div>
    }
  </div>
</div>
