<div cdkDropListGroup class="container">
  <!-- Lista de origen -->
  <div cdkDropList class="source" [cdkDropListData]="source">
    @for (item of source; track $index) {
      <div cdkDrag (cdkDragMoved)="onMove($event)">
        <div>{{ item }}</div>
        <div *cdkDragPreview class="drag-preview">{{ item }}</div>
      </div>
    }
  </div>

  <!-- Lista de destino -->
  <div cdkDropList class="target" (cdkDropListDropped)="onDrop($event)">
    @for (item of target; track $index) {
      <div>{{ item }}</div>
    }
  </div>
</div>
