.cdk-drag-placeholder {
  display: none !important;
}


.target.cdk-drop-list-dragging * {
  display: none !important;
}


.cdk-drag-preview {
  display: block !important;
  opacity: 0.5;
}


.container {
  display: flex;
  gap: 20px;
}

.source,
.target {
  border: 1px solid #ccc;
  min-height: 200px;
  width: 200px;
  padding: 10px;
}
.source{
  cursor: move;
}
