:host {
  display: flex; /* Activar Flexbox */
  justify-content: center; /* Centrar en el eje X */
  align-items: center; /* Centrar en el eje Y */
  width: 70%; /* Ajustar ancho */
  margin: auto; /* Centrar horizontalmente */
  height: max-content; /* Ajustar al contenido */
  position: absolute; /* Posicionamiento relativo al viewport */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajustar el contenido al centro */
}


mat-card-header{
  display: flex;
  justify-content: center;
}
mat-card-title{
  margin-bottom: 25px;
}
mat-card {
  width: 45%;
}
mat-form-field{
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  mat-card {
    width: max-content
  }
  :host{
    width: 100%;
    padding: 0 1rem;
  }
}
