
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
mat-card-header{
  display: flex;
  justify-content: center;
}
mat-card-title{
  margin-bottom: 25px;
}
mat-card {
  width: 35%;
}
mat-form-field{
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
