@if(isMobile()){
<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <svg baseProfile="full" height="24" version="1.1" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
      xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs />
      <rect fill="black" height="1" width="1" x="4" y="4" />
      <rect fill="black" height="1" width="1" x="5" y="4" />
      <rect fill="black" height="1" width="1" x="6" y="4" />
      <rect fill="black" height="1" width="1" x="7" y="4" />
      <rect fill="black" height="1" width="1" x="10" y="4" />
      <rect fill="black" height="1" width="1" x="11" y="4" />
      <rect fill="black" height="1" width="1" x="12" y="4" />
      <rect fill="black" height="1" width="1" x="13" y="4" />
      <rect fill="black" height="1" width="1" x="16" y="4" />
      <rect fill="black" height="1" width="1" x="17" y="4" />
      <rect fill="black" height="1" width="1" x="18" y="4" />
      <rect fill="black" height="1" width="1" x="19" y="4" />
      <rect fill="black" height="1" width="1" x="4" y="5" />
      <rect fill="black" height="1" width="1" x="5" y="5" />
      <rect fill="black" height="1" width="1" x="6" y="5" />
      <rect fill="black" height="1" width="1" x="7" y="5" />
      <rect fill="black" height="1" width="1" x="10" y="5" />
      <rect fill="black" height="1" width="1" x="11" y="5" />
      <rect fill="black" height="1" width="1" x="12" y="5" />
      <rect fill="black" height="1" width="1" x="13" y="5" />
      <rect fill="black" height="1" width="1" x="16" y="5" />
      <rect fill="black" height="1" width="1" x="17" y="5" />
      <rect fill="black" height="1" width="1" x="18" y="5" />
      <rect fill="black" height="1" width="1" x="19" y="5" />
      <rect fill="black" height="1" width="1" x="4" y="6" />
      <rect fill="black" height="1" width="1" x="5" y="6" />
      <rect fill="black" height="1" width="1" x="6" y="6" />
      <rect fill="black" height="1" width="1" x="7" y="6" />
      <rect fill="black" height="1" width="1" x="10" y="6" />
      <rect fill="black" height="1" width="1" x="11" y="6" />
      <rect fill="black" height="1" width="1" x="12" y="6" />
      <rect fill="black" height="1" width="1" x="13" y="6" />
      <rect fill="black" height="1" width="1" x="16" y="6" />
      <rect fill="black" height="1" width="1" x="17" y="6" />
      <rect fill="black" height="1" width="1" x="18" y="6" />
      <rect fill="black" height="1" width="1" x="19" y="6" />
      <rect fill="black" height="1" width="1" x="4" y="7" />
      <rect fill="black" height="1" width="1" x="5" y="7" />
      <rect fill="black" height="1" width="1" x="6" y="7" />
      <rect fill="black" height="1" width="1" x="7" y="7" />
      <rect fill="black" height="1" width="1" x="10" y="7" />
      <rect fill="black" height="1" width="1" x="11" y="7" />
      <rect fill="black" height="1" width="1" x="12" y="7" />
      <rect fill="black" height="1" width="1" x="13" y="7" />
      <rect fill="black" height="1" width="1" x="16" y="7" />
      <rect fill="black" height="1" width="1" x="17" y="7" />
      <rect fill="black" height="1" width="1" x="18" y="7" />
      <rect fill="black" height="1" width="1" x="19" y="7" />
      <rect fill="black" height="1" width="1" x="4" y="10" />
      <rect fill="black" height="1" width="1" x="5" y="10" />
      <rect fill="black" height="1" width="1" x="6" y="10" />
      <rect fill="black" height="1" width="1" x="7" y="10" />
      <rect fill="black" height="1" width="1" x="10" y="10" />
      <rect fill="black" height="1" width="1" x="11" y="10" />
      <rect fill="black" height="1" width="1" x="12" y="10" />
      <rect fill="black" height="1" width="1" x="13" y="10" />
      <rect fill="black" height="1" width="1" x="16" y="10" />
      <rect fill="black" height="1" width="1" x="17" y="10" />
      <rect fill="black" height="1" width="1" x="18" y="10" />
      <rect fill="black" height="1" width="1" x="19" y="10" />
      <rect fill="black" height="1" width="1" x="4" y="11" />
      <rect fill="black" height="1" width="1" x="5" y="11" />
      <rect fill="black" height="1" width="1" x="6" y="11" />
      <rect fill="black" height="1" width="1" x="7" y="11" />
      <rect fill="black" height="1" width="1" x="10" y="11" />
      <rect fill="black" height="1" width="1" x="11" y="11" />
      <rect fill="black" height="1" width="1" x="12" y="11" />
      <rect fill="black" height="1" width="1" x="13" y="11" />
      <rect fill="black" height="1" width="1" x="16" y="11" />
      <rect fill="black" height="1" width="1" x="17" y="11" />
      <rect fill="black" height="1" width="1" x="18" y="11" />
      <rect fill="black" height="1" width="1" x="19" y="11" />
      <rect fill="black" height="1" width="1" x="4" y="12" />
      <rect fill="black" height="1" width="1" x="5" y="12" />
      <rect fill="black" height="1" width="1" x="6" y="12" />
      <rect fill="black" height="1" width="1" x="7" y="12" />
      <rect fill="black" height="1" width="1" x="10" y="12" />
      <rect fill="black" height="1" width="1" x="11" y="12" />
      <rect fill="black" height="1" width="1" x="12" y="12" />
      <rect fill="black" height="1" width="1" x="13" y="12" />
      <rect fill="black" height="1" width="1" x="16" y="12" />
      <rect fill="black" height="1" width="1" x="17" y="12" />
      <rect fill="black" height="1" width="1" x="18" y="12" />
      <rect fill="black" height="1" width="1" x="19" y="12" />
      <rect fill="black" height="1" width="1" x="4" y="13" />
      <rect fill="black" height="1" width="1" x="5" y="13" />
      <rect fill="black" height="1" width="1" x="6" y="13" />
      <rect fill="black" height="1" width="1" x="7" y="13" />
      <rect fill="black" height="1" width="1" x="10" y="13" />
      <rect fill="black" height="1" width="1" x="11" y="13" />
      <rect fill="black" height="1" width="1" x="12" y="13" />
      <rect fill="black" height="1" width="1" x="13" y="13" />
      <rect fill="black" height="1" width="1" x="16" y="13" />
      <rect fill="black" height="1" width="1" x="17" y="13" />
      <rect fill="black" height="1" width="1" x="18" y="13" />
      <rect fill="black" height="1" width="1" x="19" y="13" />
      <rect fill="black" height="1" width="1" x="4" y="16" />
      <rect fill="black" height="1" width="1" x="5" y="16" />
      <rect fill="black" height="1" width="1" x="6" y="16" />
      <rect fill="black" height="1" width="1" x="7" y="16" />
      <rect fill="black" height="1" width="1" x="10" y="16" />
      <rect fill="black" height="1" width="1" x="11" y="16" />
      <rect fill="black" height="1" width="1" x="12" y="16" />
      <rect fill="black" height="1" width="1" x="13" y="16" />
      <rect fill="black" height="1" width="1" x="16" y="16" />
      <rect fill="black" height="1" width="1" x="17" y="16" />
      <rect fill="black" height="1" width="1" x="18" y="16" />
      <rect fill="black" height="1" width="1" x="19" y="16" />
      <rect fill="black" height="1" width="1" x="4" y="17" />
      <rect fill="black" height="1" width="1" x="5" y="17" />
      <rect fill="black" height="1" width="1" x="6" y="17" />
      <rect fill="black" height="1" width="1" x="7" y="17" />
      <rect fill="black" height="1" width="1" x="10" y="17" />
      <rect fill="black" height="1" width="1" x="11" y="17" />
      <rect fill="black" height="1" width="1" x="12" y="17" />
      <rect fill="black" height="1" width="1" x="13" y="17" />
      <rect fill="black" height="1" width="1" x="16" y="17" />
      <rect fill="black" height="1" width="1" x="17" y="17" />
      <rect fill="black" height="1" width="1" x="18" y="17" />
      <rect fill="black" height="1" width="1" x="19" y="17" />
      <rect fill="black" height="1" width="1" x="4" y="18" />
      <rect fill="black" height="1" width="1" x="5" y="18" />
      <rect fill="black" height="1" width="1" x="6" y="18" />
      <rect fill="black" height="1" width="1" x="7" y="18" />
      <rect fill="black" height="1" width="1" x="10" y="18" />
      <rect fill="black" height="1" width="1" x="11" y="18" />
      <rect fill="black" height="1" width="1" x="12" y="18" />
      <rect fill="black" height="1" width="1" x="13" y="18" />
      <rect fill="black" height="1" width="1" x="16" y="18" />
      <rect fill="black" height="1" width="1" x="17" y="18" />
      <rect fill="black" height="1" width="1" x="18" y="18" />
      <rect fill="black" height="1" width="1" x="19" y="18" />
      <rect fill="black" height="1" width="1" x="4" y="19" />
      <rect fill="black" height="1" width="1" x="5" y="19" />
      <rect fill="black" height="1" width="1" x="6" y="19" />
      <rect fill="black" height="1" width="1" x="7" y="19" />
      <rect fill="black" height="1" width="1" x="10" y="19" />
      <rect fill="black" height="1" width="1" x="11" y="19" />
      <rect fill="black" height="1" width="1" x="12" y="19" />
      <rect fill="black" height="1" width="1" x="13" y="19" />
      <rect fill="black" height="1" width="1" x="16" y="19" />
      <rect fill="black" height="1" width="1" x="17" y="19" />
      <rect fill="black" height="1" width="1" x="18" y="19" />
      <rect fill="black" height="1" width="1" x="19" y="19" />
    </svg>
  </button>
  <mat-menu #menu xPosition="before">
    <a mat-menu-item [routerLink]="['/levels']">Nivels</a>
    <a mat-menu-item [routerLink]="['/publications']">Publicaciones</a>
    <a mat-menu-item [routerLink]="['/enrolls']">Matrículas</a>
    <a mat-menu-item [routerLink]="['/groups']">Grupos</a>
  </mat-menu>
</div>
}
@else{
<div class="menu">
  <a mat-button [routerLink]="['/levels']">Nivels</a>
  <a mat-button [routerLink]="['/publications']">Publicaciones</a>
  <a mat-button [routerLink]="['/enrolls']">Matrículas</a>
  <a mat-button [routerLink]="['/groups']">Grupos</a>
</div>
}
