<div class="container">
  <h1>Modificar Publicación</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="field">
      <mat-label>Descripción</mat-label>
      <input type="text" matInput formControlName="name" required #input>
    </mat-form-field>
    <div class="dates">


      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="start" formControlName="start">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="start" />
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="end" formControlName="end">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="end" />
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>

    </div>
    <app-levels formControlName="levels"/>
    <div class="actions">
      <button type="submit" mat-flat-button class="submit">Aceptar</button>
    </div>
  </form>
</div>
