<div class="container">
  <p>Puedes verlo en tu correo electrónico oficial (ejemplo:
    <strong>1234567&#64;alu.murciaeduca.es</strong> en este caso <strong>1234567</strong> es tu NRE)</p>
  <mat-form-field appearance="outline">
    <mat-label>NRE del alumno</mat-label>
    <input matInput type="text" required autofocus>
  </mat-form-field>
  <div class="row">
    <div>
      <p>Anverso del dni *</p>
      <app-imageupload />
    </div>
    <div>
      <p>Reverso del dni *</p>
      <app-imageupload />
    </div>
  </div>

  <div class="row">
    <div>
      <p>Anverso de la tarjeta sanitaria *</p>
      <app-imageupload />
    </div>
    <div>
      <p>Reverso de la tarjeta sanitaria *</p>
      <app-imageupload />
    </div>
  </div>
  <div>
    <p>Certificación académica (Solamente en el caso de que venga de un centro privado o de fuera de la CCAA)</p>
    <app-fileupload />
  </div>
</div>
