.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1 {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-nav-list,
mat-sidenav-content {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

mat-sidenav-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.75rem;
  height: 100vh;
}

.card {
  width: 100%;
  max-width: 250px;
  height: max-content;
}

a {
  color: inherit; /* Hereda el color del elemento padre */
  text-decoration: none; /* Elimina el subrayado */
  font: inherit; /* Hereda la fuente del elemento padre */
  cursor: pointer; /* Mantiene el cursor de enlace */
}

a:hover, a:focus, a:active {
  text-decoration: none; /* Asegura que tampoco aparezca subrayado al interactuar */
  color: inherit; /* Hereda el color en estados interactivos */
  outline: none; /* Elimina los bordes de enfoque (opcional, para accesibilidad podría omitirse) */
}

a:visited {
  color: inherit; /* Hereda el color en estado visitado */
}

