.row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.row_field{
  width: 100%;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr auto;
  gap:1rem
}
.submit{
  width: max-content;
}

mat-radio-group{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  .row{
    grid-template-columns: 1fr;
  }
}

