.row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.row_field{
  width: 100%;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr auto;
  gap:1rem
}
.submit{
  width: max-content;
}

